.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__div--top {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1650px;
}
.header__figure {
  /* min-width: 5%; */
  width: clamp(10%, 350px, min(17rem, 75%));
  /* max-width: 16.375rem; */
}
.header__nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 4;
  width: 100vw;
  height: 0;
}
.header__nav.isActive {
  height: 100vh;
}
.header__nav--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 4;
  width: 100%;
  height: auto;
  margin: 1rem 0rem 0rem 0rem;
  background-color: transparent;
  transform: translatex(100%);
  transition: transform 1.4s ease, background-color 1s ease;
}
.header__nav--container.isActive {
  background-color: var(--primaryColor);
  width: 100%;
  height: auto;
  transform: translateX(25%);
  transition: transform 0.5s ease;
}
.header__hgroup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primaryColor); /* Color del filtro */
  opacity: 0.5;
  z-index: -1;
}
.header__hgroup {
  width: 100%;
  height: 24.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  background: no-repeat center/cover
    url("../assets/images/hero_banner_1920x700.jpg");
}
.header__title {
  text-align: center;
  color: #fff;
  text-shadow: 1px 3px 5px black;
  text-wrap: pretty;
}
.header__navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  padding: 0.7rem;
  background: #fffefe;
  min-width: 60vw;
  width: 100%;
  border: 2px solid var(--primaryColor);
  transition: transform 0.5s ease;
}
.header__navButton.isActive {
  transform: translateX(0%);
  transition: transform 0.5s ease;
}
.header__navButton.isActive:hover {
  transform: translateX(-15%);
  background-color: #6e41b9;
  transition: transform 0.4s ease-in, background-color 0.5s ease-in-out;
}
.header__navButton:hover h3 {
  color: #fffefe;
  transition: color 0.5s ease;
}
.header__navButton:active h3 {
  color: #fffefe;
  transition: color 0.5s ease;
}
.header__navButton:active {
  transform: translateX(-15%);
  background-color: #6e41b9;
  transition: background-color 0.5s ease;
}
.header__navText {
  text-wrap: nowrap;
  font-size: 1.5rem;
  color: var(--primaryColor);
}

.header__navIcon {
  order: -1;
  width: min(3.0625rem, 10vw);
  height: min(3.0625rem, 10vw);
  flex-shrink: 0;
  background-color: #fff;
  color: #6e41b9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 8vw, 2rem);
  margin: 3rem 4vw 1rem 0;
}
@media (min-width: 720px) {
  .header__div--top {
    flex-wrap: wrap;
  }
  .header__nav {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.56rem;
    width: auto;
    height: auto;
  }
  .header__nav.isActive {
    height: auto;
  }
  .header__nav--container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.56rem;
    width: auto;
    height: auto;
    background-color: transparent;
    transform: none;
  }
  .header__nav--container.isActive {
    transform: none;
  }

  .header__nav--container.isActive {
    transition: background-color 0s ease;
    background-color: transparent;
    height: auto;
  }
  .header__navIcon {
    display: none;
  }
  .header__navText {
    text-wrap: nowrap;
    padding: 1rem 0 3rem 0;
  }
  .header__navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    width: fit-content;
    height: 8.75rem;
    border-radius: 1.25rem;
    padding: 2rem;
    background: #fffefe;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: none;
    transform: translateY(35%);
    transition: transform 0.4s ease-in;
    border: none;
  }
  .header__navButton.isActive {
    transform: translateX(0%);
    transform: translateY(25%);
  }
  .header__navButton:hover {
    transform: none;
    transform: translateY(25%);
    background-color: #6e41b9;
    transition: transform 0.4s ease-in, background-color 0.5s ease-in-out;
  }
  .header__navButton:hover h3,
  .header__navButton--Active h3 {
    color: #fffefe;
    transition: color 0.5s ease;
  }
  .header__navButton--Active {
    transform: translateY(25%);
    background-color: #6e41b9;
  }
  .header__navButton0.isActive:active,
  .header__navButton.isActive:hover {
    transform: translateX(0) translateY(15%);
    background-color: #6e41b9;
    transition: background-color 0.5s ease;
  }
}
