.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__div--top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.header__figure {
  /* min-width: 5%; */
  width: clamp(10%, 350px, 17rem);
  /* max-width: 16.375rem; */
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.56rem;
  /* min-width: 60%; */
}
.header__hgroup {
  width: 100%;
  background-color: #6e41b9;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}
.header__navButton {
  display: none;
}
.header__navText {
  text-wrap: nowrap;
  padding: 1rem 0 3rem 0;
}

.header__navIcon {
  width: 3.0625rem;
  height: 3.0625rem;
  flex-shrink: 0;
  background-color: #fff;
  color: #6e41b9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
@media (min-width: 600px) {
  .header__navIcon {
    display: none;
  }
  .header__navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 8.75rem;
    border-radius: 1.25rem;
    padding: 1rem;
    background: #fffefe;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(25%);
    transition: transform 0.4s ease-in;
  }
  .header__navButton:hover {
    transform: translateY(10%);
    transition: transform 0.4s ease-in;
  }
  .header__navButton:active {
    background-color: #6e41b9;
    transition: background-color 0.5s ease;
  }
}
