.video-ReviewSection {
  /* width: min(90vw, 55rem);
  flex-basis: 67%;
  min-height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; */
  width: min(90vw, 55rem);
  flex: 0.75 0 67%;
  min-height: 28rem;
  border-radius: 0rem 1.25rem 1.25rem 0rem;
  /* background: #fff; */
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.video-ReviewSection__div--video {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border: 2px solid var(--primaryColor);
}
.video-ReviewSection__div--rewiev {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  border-radius: 0rem 0rem 1.25rem 1.25rem;
  border-top: 2px solid var(--primaryColor);
  padding: 1.5rem 1rem;
  aspect-ratio: 16/9;
}
.videoReviewSection__article {
  height: 100%;
  /* flex-basis: 40%; */
  width: clamp(10rem, 40%, 72rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.videoReviewSection__image--new {
  width: 100%;
  aspect-ratio: 16/10;
  -o-object-fit: cover;
  object-fit: cover;
}
.videoReviewSection__h3 {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 600;
}
.videoReviewSection__p {
  font-weight: 400;
}
.videoReviewSection__span {
  font-size: 1.2rem;
  font-weight: 600;
}
.videoReviewSection__p--content {
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  hyphens: auto;

  /* Establece estos para el efecto de truncado */
  overflow: hidden; /* Oculta el texto que desborda */
  text-overflow: ellipsis; /* Añade los puntos suspensivos */

  line-height: 1.4em;
  height: 5.95rem; /* Asegúrate de que este permite solo una línea de texto */
  width: 100%;
}

@media (max-width: 720px) {
  .video-ReviewSection {
    width: min(90vw, 55rem);
    flex-basis: 75%;
    min-height: 28rem;
  }
}
@media (max-width: 570px) {
  .video-ReviewSection {
    width: min(90vw, 55rem);
    flex-basis: 100%;
    min-height: 28rem;
    align-items: center;
  }
  .video-ReviewSection__div--rewiev article:last-child {
    display: none;
  }
}
@media (min-width: 2500px) {
  .video-ReviewSection {
    flex: 0.4 0 38%;
  }
}
@media (min-width: 2100px) and (max-width: 2500px) {
  .video-ReviewSection {
    flex: 0.4 0 45%;
  }
}
@media (min-width: 1900px) and (max-width: 2100px) {
  .video-ReviewSection {
    flex: 0.4 0 50%;
  }
}
