.containerSection {
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 2.5rem 10%;
  padding: 0rem 0rem 1rem 1rem;
  gap: 1.56rem;
  max-width: 1000px;
  width: 90%;
}
@media (max-width: 1000px) {
  .containerSection {
    margin: 0rem 0 2.5rem 10%;
  }
}
@media (max-width: 480px) {
  .containerSection {
    margin: 0rem 0 2.5rem 0%;
    padding: 0rem 0rem 1rem 0rem;
  }
}
